# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Microsoft Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
